# Ignorar arquivos compilados
*.pyc
*.class
*.o
*.exe

# Ignorar dependências
node_modules/
venv/
.venv/
dsemproducao/
.dsemproducao/
webapp
.webapp/
rossmann-webapp
.rossmann-webapp/
rossmann-telegram-api/
.rossmann-telegram-api/

# Ignorar configurações do VS Code
.vscode/

# Ignorar arquivos de Jupyter Notebook Checkpoints
*.ipynb_checkpoints

# Ignorar cache do sistema
__pycache__/
